test/
tools/
coverage/
secrets/
src/
src/sample.ts
src/spec/
dist/spec/
dist/sample.*
spec/
docs/
scripts/
.vscode
.gitignore
.npmignore
.travis.yml
.idea
.nyc_output
tsconfig.json
tslint.json
gruntfile.js
gulpfile.js
tslint.json
gulpfile.js
gulpfile.config.js
.yo-rc.json
tsconfig*
copyStaticAssets.ts
rollup.config.js
.mocharc.json
.eslint*
!generators/**/templates/*
!generators/**/templates/**/*
